
<!-- Page Header -->
<header class="masthead" style="background-image: url('/Images/about-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="post-heading">
                    <h1>About Me</h1>
                    <h2 class="subheading">This is my About Page</h2>
                    <span class="meta">
                        Greetings!  My name is Ira Nye and I'm learning .Net Full-Stack Development at Coder Foundry in Kernersville, NC.
                    </span>
                    <p> 
                        <span class="meta">
                            Please visit my Portfolio at <a href="http://iranye.azurewebsites.net" target="_blank">iranye.azurewebsites.net</a>
                        </span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</header>
