<style>
    img.bg {
        /* Set rules to fill background */
        min-height: 100%;
        min-width: 1024px;
	
        /* Set up proportionate scaling */
        width: 100%;
        height: auto;
	
        /* Set up positioning */
        position: fixed;
        top: 0;
        left: 0;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333333;
    }

    li {
        float: left;
    }

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 16px;
        text-decoration: none;
    }

    li a:hover {
        background-color: #111111;
        color: white;
    }
</style>
<img src="~/Content/background-image.jpg" alt="bckgound" class="bg" />
<div class="row">
    <div class="col">
        <ul>
            <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, htmlAttributes: new { @class = "nav-link" })</li>
            <li>@Html.ActionLink("API", "Index", "Swagger", new { area = "" }, htmlAttributes: new { @class = "nav-link" })</li>

        </ul>
        <br/>
        <h2>IraNye Web API</h2>
        <p class="lead">This site is intended as a guide to using the API.</p>
        <p>To use this information, click the "API" link which will take you to the swagger documentation on how to interact with the API.</p>
    </div>
</div>
